@model ApplicationCore.Models.JobResponseModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobResponseModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPositions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPositions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobCode)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class="col-sm-10">
            <div class="form-group">
                <input type="button" value="Apply" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Submissions",new {Id=Model.Id,JobCode = Model.JobCode,Title=Model.Title})'"/>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
